@import "tailwindcss";

@layer base {
  body {
    background-color: var(--color-slate-900);
    color: var(--color-slate-100);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  input, select, textarea {
    background-color: var(--color-slate-800);
    color: var(--color-slate-100);
  }
}
